@import  url("normalize.css");

html, body {
    height: 100%;
}

canvas {
    display: block;
    width: 376px;
    height: 667px;
    background-color: #000;
    background: url('/img/bg_black.jpg') repeat;
}

.info {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    color: #ccc;
}

#container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#preloader {
    display: none;
}

.score-counter {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 54px;
    text-align: center;
    background: #fff;
    color: #3d3d3d;
    position: absolute;
    top: 0;
    left: 0;
}

#middle-view {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    /* Initially we don't want any height, and we want the contents to be hidden */
    max-height: 0;
    overflow: hidden;

    /* Set our transitions up. */
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    transition: max-height 1s;

    background-color: #fff;
    background: #fff;
}

#middle-view.show {
    max-height: 100%;
    height: 100%;
}

#middle-view.hide {
    max-height: 0;
}

#middle-view #play-button {
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    top: 80%;
    margin-top: -40px;
    left: 50%;
    margin-left: -40px;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

#middle-view #play-button.show {
    opacity: 1;
}

.lives {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.lives .life {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 80px;
    width: 80px;
    height: 80px;
}
.life:nth-child(1) { top: 200px; }
.life:nth-child(2) { top: 280px; }
.life:nth-child(3) { top: 360px; }

#home-view {
    width: 100%;
    height: 100%;
    background-color: #fff;
}